@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(80px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.25%; }

body {
  padding: 30px 30px 0;
  box-sizing: border-box; }

.story-primary-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .story-primary-heading-main {
    display: block;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 17px;
    animation: moveToLeft 1s ease-out; }
  .story-primary-heading-sub {
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 10px;
    animation: moveToRight 1s ease-out; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #0D4C92;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0D4C92;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #0D4C92;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition-img {
    width: 55%;
    box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: all 0.2s;
    position: absolute; }
    .composition-img-1 {
      left: 0;
      top: -2rem; }
    .composition-img-2 {
      right: -2rem;
      top: 2rem; }
    .composition-img-3 {
      left: 20%;
      top: 15rem; }
    .composition-img:hover {
      transform: scale(1.05) translateY(-2rem);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition-img:not(:hover) {
    transform: scale(0.95); }

.status-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media only screen and (max-width: 56.25em) {
    .status-box {
      padding: 2rem; } }
  .status-box-icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #59C1BD, #0D4C92);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .status-box-icon {
        margin-bottom: 0; } }
  .status-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: " ";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2* ((100% - 2* 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2* ((100% - 3* 6rem) / 4) +  6rem); }
  .row .col-3-of-4 {
    width: calc(3* ((100% - 3* 6rem) / 4) + 2*  6rem); }

.about-header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(100deg, rgba(13, 75, 146, 0.677) 0%, rgba(83, 186, 182, 0.649) 100%), url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%); }
  .about-header .logo-box {
    position: absolute;
    display: flex;
    align-items: center;
    left: 40px;
    top: 40px; }
    .about-header .logo-box .logo {
      filter: invert(100%) sepia(57%) saturate(0%) hue-rotate(185deg) brightness(107%) contrast(100%);
      height: 35px; }
    .about-header .logo-box .brand-name {
      display: inline-block;
      color: #fff;
      margin-left: 1rem; }
  .about-header .text-box {
    position: absolute;
    top: 50%;
    left: 50%; }

.navigation-checkbox {
  display: none; }

.navigation-button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation-button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation-button {
      top: 3rem;
      right: 3rem; } }

.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#59C1BD, #0D4C92);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation-background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation-background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation-item {
  margin: 1rem; }

.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation-link:link span, .navigation-link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #0D4C92;
  transform: translateX(1rem); }

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80); }

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%; }

.navigation-icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation-icon::before, .navigation-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation-icon::before {
    top: -.8rem; }
  .navigation-icon::after {
    top: .8rem; }

.navigation-button:hover .navigation-icon::before {
  top: -1rem; }

.navigation-button:hover .navigation-icon::after {
  top: 1rem; }

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #E9F8F9;
  padding: 28rem 0;
  margin-top: -13vh; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #0B2447;
  letter-spacing: 2px; }

.section-status {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(13, 76, 146, 0.8), rgba(89, 193, 189, 0.8)), url(https://images.unsplash.com/photo-1515187029135-18ee286d815b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-status > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-status {
      padding: 10rem 0; } }
