body{

    
}
header{
    padding-bottom: 30px;

}
footer{
    background-color: #E9F8F9 !important;
    border-top: #12265581 2px solid;

}
.div-line{
    width: 60%;
    padding-top: 40px !important;
    margin: 50px auto;
    border-bottom: #12265581 1px solid ;


}
svg{
    width: 24px;
    padding-right: 5.5px;
}

.div-svg-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}
.navbar{
    background-color: #E9F8F9 !important;
    padding: 5px 40px 5px 50px !important;
    border-bottom: #12265581 2px solid;
}
.header{
    margin: 60px auto;
}


.header-text-parent{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-dark-blue{
    color:#1b3980 !important;

}
.light-blue-backgrund{
    background-color: #C0EEF2 !important;
}
.dark-blue-backgrund{
    background-color:#19376D ;
}
.super-light-blue-backgrund{
    background-color:#E9F8F9 ;
}

.header-text{
   margin: 20px 20px;
   color:#3657a2;
}
.dark-blue-text{
    color:#122655 !important;

}
.header-text h1{
    font-size: 70px;
    color:#122655;
}
.header-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-imgs-parent {
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 30px !important;
  }
  .headerimage1 {
    position: relative;
    max-width: 50%;
    max-height: auto;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;

  }
  .headerimage2 {
    position: relative;
    max-width: 50%;
    max-height: auto;
    top: -15px;
    left: 38%;

  }
  .form-control{
    max-width: 280px;
  }
  .subscribe-section{
    width: 80%;
    margin: auto;
    padding: 25px;
    border-radius: 15px 15px 15px 15px;
    background: #E9F8F9;
}
.sub-subscribe-section{
    width: 100%;

}
.dark-blue{
   background-color: #537FE7 !important;
   border-color: #426bca !important;
}
    
.post-category {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    letter-spacing: .2em;
    font-weight: 700;
    font-size: .6rem;
    text-transform: uppercase;
}
.post-meta {
    color: #b3b3b3;
    font-size: 13px;
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 8px;
}

.author-img {
    width: 30px;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 12px;

}
.cards-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px !important;
}

.recent-blogs{

    margin-top: 40px !important;
    margin-bottom: 50px !important;

}
.cards-img img {
    min-height:100%; 
    min-width: 100%; 
    object-fit: cover;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.blog-date{ 
    margin-top: 2px;
    float:right
 }
.w-40{
    width: 33% !important;
}
.w-60{
    width: 66% !important;
}
.border-card{
 border-radius: 50%;
}
.card-content{
    padding-top: 5px !important;
    padding-top: 5px !important;
}
.read-more{
    display: inline-block;
    padding-bottom: 9px;
}
.col-side-cards{
    width: 100%;
}
.search-side-card{
    width: 18rem;
    margin: 4px auto;
    max-width: 90%;
}
.side-cards {
    width: 18rem;
    margin: 0 auto;
    max-width: 90%;
}