.btn-text{
    &:link, &:visited{
        font-size: $default-font-size;
        color: $primary-color-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $primary-color-dark;
        padding: 3px;
        transition: all 0.2s;
    }
    &:hover{
        background-color: $primary-color-dark;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, $alpha: 0.15);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: 0 0.5rem 1rem rgba($color-black, $alpha: 0.15);
        transform: translateY(0) ;

    }

}